table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;

  tr {
    background-color: $color-grey-900;
  }
}

tr {
  height: 80px;
  background-color: $color-grey-700;

  td {
    &:first-child {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }
    &:last-child {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }
}

th,
td {
  position: relative;
  // min-width: 150px;
  // max-width: 150px;
  height: 80px;
  padding: 0 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: $color-grey-200;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:first-child {
    padding: 0 16px 0 24px;
  }

  &:last-child {
    padding: 0 24px 0 16px;
  }

  &:not(:last-child) {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 1px;
      height: 50%;
      border-right: 1px solid $color-grey-500;
    }
  }
}

th {
  font-weight: 700;
}
